extends layout

block content
	.main
		._app
			.head
				h1 Carritos de Compras
			.body

	script(src="/javascripts/jquery.min.js") 
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app2.js")
