extends layout

block content
	.main
		.app
			.head
				h1 Carrito de Compras

		.car
			h1 Carrito
			br
			#carBody
			button#listo Listo

	script(src="/javascripts/jquery.min.js") 
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/app.js")

